body {
    background: linear-gradient(#3F2717ff, #7E5E2Cff);
    margin: 0;
}

:root {
    --fw: 500;
    --f-headings: 4em;
    
}

.headings {
  font-family: "Rubik", sans-serif;
  font-weight: var(--fw);
  color: #892D23ff;
  text-shadow: 2px 1px 1px black;
  text-align: center;
  font-size: var(--f-headings);
}

.inNumber {
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 7.4em;
    font-weight: var(--fw);
    text-align: center;
    color: #F94F6D;
    border-radius: 2em;
}

.threebtns{
    display: flex;
    justify-content: space-evenly;
}

.btn{
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  padding: 1.1em 2.1em;
  border-radius: 1.2em;
  margin: 20px 0 20px 0;
  background-color: #77582Aff;
  font-weight: var(--fw);
}

.btn:hover {
    background-color: rgb(82, 64, 37);
    color: #F94F6D;
    border-color: #F94F6D;
}

.btn:focus {
    background-color: rgb(82, 64, 37);
    color: #F94F6D;
    border-color: #F94F6D;
}

#mainhead {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw);
  color: #8F928Eff;
  text-decoration:underline;
  font-size: var(--f-headings);
}

#container {
    display: flex;
    justify-content: space-around;
}